body {
    margin: 0;
}
.volume-slider-con{
    height:10px;
    width:50%;
       position:relative;
    background-color:#ddd;
  }
  .volume-slider{
     height:100%;
     width:100%;
     position:relative;
     background-color:red;
  }